<div class="wrapper" *ngIf="article">
  <div class="property">
    <label>Title</label>
    <input type="text" [(ngModel)]="article.title" (keyup)="updateKey()" (blur)="updateKey()" />
  </div>
  <div class="property">
    <label>Key</label>
    <input type="text" [(ngModel)]="article.key" disabled="disabled" />
  </div>
  <div class="property">
    <label>Date</label>
    <input type="text" [(ngModel)]="article.date" />
  </div>
  <div class="property">
    <label>Image</label>
    <input type="text" [(ngModel)]="article.imageUrl" />
  </div>
  <div class="property">
    <label>Description</label>
    <textarea type="text" [(ngModel)]="article.description" class="description"></textarea>
    <div class="character-count">Characters: {{article.description.length}}</div>
  </div>
  <div class="property">
    <label>Content</label>
    <textarea type="text" [(ngModel)]="article.content"></textarea>
  </div>
  <div class="character-count">
    Article is 
    <span style="color: green;" *ngIf="article.published">online</span>
    <span style="color: red;" *ngIf="!article.published">offline</span>
  </div>
  <div>
    <button (click)="deleteArticle()" *ngIf="!isNew" style="margin-right: 10px; color: red;">Delete</button>
    <button (click)="viewPreview()" *ngIf="!isNew" style="margin-right: 10px;">Preview</button>
    <button (click)="updateArticle()" *ngIf="!isNew">Update</button>
    <button (click)="createArticle()" *ngIf="isNew">Save as draft</button>
    <div *ngIf="saved" style="color: green">
      <span>Saved.</span> <a routerLink="../../{{article.key}}">View Article</a>
    </div>
  </div>
</div>